ul {
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.large {
  ul {
    li {
      list-style-type: none;
      margin-top: 1vh;
      font-size: 0.75vw;
      text-align: justify;
    }
  }
}

.small {
  ul {
    max-width: 80vw;
    margin-block-end: 1.5vh;
    li {
      list-style-type: none;
      margin-top: 5px;
      text-align: justify;
      padding-right: 10vw;
      font-size: 2.2vmin;
      font-weight: 50;
    }
  }
}
