.boring-rights {
  position: fixed;
  width: 100vw;
  bottom: 5px;
  min-width: 400px;
  max-width: 400px;
  left: calc(50vw - 200px);
  font-size: 1.5vmin;
  text-align: center;
  overflow: hidden;
}
