.main-container {
  transition: color ease-in 500ms;
  min-height: 100vh !important;
  position: relative;

  .info-container {
    padding-left: 2vw;
    animation: fadeIn 1.75s;
  }

  svg:hover {
    cursor: pointer;
    opacity: 1;
  }

  svg {
    opacity: 0.65;
    transition: fill 500ms;
  }
}

.large {
  text-align: left;

  .info-container {
    max-width: 30vmax;
  }

  button {
    min-width: 48px;
  }

  .footer {
    animation: fadeIn 1.75s;
    position: fixed;
    right: 3vw;
    overflow: hidden;

    .icon-title {
      font-size: 1.8vw;
      font-weight: 500;
      padding-bottom: 0.25vh;
      margin-right: 1vw;
      transition: opacity 600ms;
    }
  }

  h1 {
    font-size: 8.5vmax;
    margin-block-start: 0;
    padding-left: 1.25vmax;
    max-width: 27.7vw;
    line-height: 0.9;
  }
}

.small {
  text-align: justify;

  .info-container {
    margin-block-end: 20px;
    max-width: 70vw;
  }

  .footer {
    bottom: 15px;
    width: 100vw;
    right: 0;
    position: fixed;
    animation: fadeIn 1.75s;

    .icon-container {
      max-width: 5vw;
    }

    .icon-title {
      font-size: 1.25vh;
      margin-right: 0;
      text-align: center;
      transition: opacity 600ms;
    }
  }

  button {
    max-width: 8vh;
    min-width: 32px;

    svg {
      margin-top: 2vh;
    }

    svg:hover {
      margin-top: 2vh;
    }
  }

  h1 {
    font-size: 20vmin;
    font-weight: 700;
    line-height: 0.75;
    margin-bottom: 1vh;
    padding-left: 1vw;
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10vw, 0);
    transform: translate3d(10vw, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
