@font-face {
  font-family: "Sen", sans-serif;
  src: url("./assets/fonts/Sen-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Sen", sans-serif;
  src: url("./assets/fonts/Sen-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Sen", sans-serif;
  src: url("./assets/fonts/Sen-ExtraBold.ttf");
  font-weight: 800;
}
