html,
body {
  margin: 0;
  padding: 0;
  font-family: "Sen", sans-serif;
  background-size: 150% 150%;
}

button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

.light {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-weight: 500;

  .large {
    color: #270031;

    canvas {
      transition: opacity ease-in 1000ms !important;
    }

    svg {
      fill: #270031;
    }

    svg:hover {
      fill: #97196d;
    }

    .secondary {
      color: #a83298;
    }
  }

  .small {
    color: #1d0025;

    canvas {
      opacity: 0.15;
      transition: opacity ease-in 1000ms !important;
    }

    svg {
      fill: #1d0025;
    }

    svg:hover {
      fill: rgb(0, 35, 36);
    }

    .secondary {
      color: rgb(0, 35, 36);
    }
  }
}

.bg-dark {
  position: fixed;
  z-index: -99;
  background: rgb(25, 110, 131);
  background: linear-gradient(135deg, rgb(0, 36, 36) 45%, rgb(36, 0, 30) 85%);
}

.bg-light {
  position: fixed;
  z-index: -99;
  background: rgb(163, 237, 255);
  background: linear-gradient(
    135deg,
    rgb(160, 238, 225) 25%,
    rgb(255, 227, 236) 75%
  );
}

.dark {
  width: 100vw;
  height: 100vh;
  color: rgb(231, 231, 231);

  canvas {
    opacity: 0.8;
  }

  .large {
    canvas {
      transition: opacity ease-in 1000ms !important;
    }

    svg {
      fill: #fae8ff;
    }

    svg:hover {
      fill: #fac1ff;
    }

    .secondary {
      color: #fad0ff;
    }
  }

  .small {
    canvas {
      opacity: 0.2;
      transition: opacity ease-in 1000ms !important;
    }

    svg {
      fill: white;
    }

    svg:hover {
      fill: #fac1ff;
    }

    .secondary {
      color: rgb(124, 211, 214);
    }
  }
}

//name
h1 {
  transition: font-size 500ms;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 800;
  animation: fadeUp 1s;
}

//title
h2 {
  font-weight: 600;
  font-size: 1.75vmax;
  margin-block-start: 0;
  margin-block-end: 0;
  animation: fadeUp 1.25s !important;
}

//unused
h3 {
  font-weight: 600;
  font-size: 2.25vmax;
  margin-block-start: 1.5vmin;
  margin-block-end: 1.5vmin;
}

//list title
h4 {
  font-weight: 600;
  margin-block-start: 1vmin;
  margin-block-end: 1vmin;
  font-size: 1.15vmax;
}

//sublist title
h5 {
  font-weight: 500;
  font-size: 0.9vmax;
  margin-block-start: 1vmin;
  margin-block-end: 1vmin;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 5vh, 0);
    transform: translate3d(0, 5vh, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
