.three-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: left ease-in-out 1000ms, opacity ease-in 1000ms;
  overflow: hidden !important;
}

.large {
  left: 9vw;
}

.small {
  left: 0;
}
